<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sunxl8.my_reader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.dbmoment.columns.ColumnPostActivity"/>
        <activity android:name=".ui.dbmoment.detail.MomentDetailActivity"/>
        <activity android:name=".ui.maoyan.detail.MovieDetailActivity"/>

        <meta-data
            android:name="sunxl8.my_reader.utils.MyGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>